# Python byte-compiled files
__pycache__/
*.pyc

# Jupyter stuff
*.ipynb_checkpoints

# Mac stuff
.DS_Store

# Latex auxiliaries
*.aux
*.blg
*.log
*.run.xml
*-blx.bib
*.bbl
*.synctex.gz
*.out
*.ps
*.pdf
*.dvi
*.tex~

# File backups
*~

# Packages
*.egg
.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Bash script for copying illustration figures
.copy-illu.sh